block js_scripts
  // Concatenated jQuery and plugins
  script(src='/vendors/bower_components/jquery/dist/jquery.min.js')
  // Bootstrap Core JavaScript
  script(src='/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js')
  script(src='/vendors/bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js')
  // Slimscroll JavaScript
  script(src='/dist/js/jquery.slimscroll.js')
  // Init JavaScript
          script(src='dist/js/init.js')

  //script(src='/javascripts/particle.js')
    
