.page-wrapper1 {
  margin-left: 0!important;
}

/*#registerbox{
    margin-top: 200px;
}

.panel{
    border-radius: 10px 10px 10px 10px;
}

fieldset{
    border: solid 1px #ccc ;
    padding: 10px; 
    border-radius: 10px 10px 0px 0px; 
    background-color: #ccc;
}

legend{
    padding-left: 20px; 
    border: solid 1px #ccc; 
    border-radius: 10px 10px 10px 10px; 
    width: 130px; 
    background-color: white;
}*/